<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<title>Thank You</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="background-color:#e5e5e5;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;border-collapse: collapse;">
  <tbody><tr>
    </tr>
  </tbody>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;border-collapse: collapse;">

  <tbody>
    <tr>
        <td bgcolor="#e5e5e5" align="center">

            <p style="color: #484848;font-size: 12px; font-family:Arial, sans-serif;text-align: center;margin: 5px;margin-bottom: 10px;">If this email is not displaying properly, please <a href="#" style="font-family: Arial, sans-serif;color: #96824b;outline: none;border: none;">click here</a></p> 

            <table width="720" class="main" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;border-collapse: collapse;">
              <tbody>

                <tr>                
                    <td align="center"><a href="#"><img src="http://gusekacreations.com/eml/encontact/images/head.jpg" alt="Mockup"></a></td>
                </tr>

                <tr>
                    <td bgcolor="#ffffff" class="row_content" style="font-size:16px;  mso-line-height-rule: exactly;line-height:130%; color: #4c4c4e; text-align:center; font-family:helvetica, arial, sans-serif;  padding-bottom:40px; padding-top:20px; padding-left:20px; padding-right:20px;" st-title="title+text">
                        <p style="font-size:25px; font-weight:700;margin:20px 0 0;">
                        Hi <%= name %>, <br><br>
                        </p>

                        <p>
                        Thank you for contacting us. Our team will give you feedback soon!<br><br>
                        Regards,<br>
                        <b>Developer</b>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#ffffff" class="row_content" style="font-size:16px;  mso-line-height-rule: exactly;line-height:130%; color: #4c4c4e; text-align:center; font-family:helvetica, arial, sans-serif;  padding-bottom:5px; padding-top:0; padding-left:20px; padding-right:20px;" st-title="title+text">
                        <span>
                        Find out more about this promotional offers and be the first to express interest in our exclusive events, <br><a href="http://gusekacreations.com" target="_blank">here</a></span>
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#fff" style="background:#fff;">
                        <table align="center" bgcolor="#fff" style="background:#fff;">
                            <tbody>
                                <tr>
                                    <td align="center" style="padding-bottom: 27px;"><a href="#"><img src="http://gusekacreations.com/eml/encontact/images/facebook.jpg" alt="Mockup"></a></td>
                                    <td align="center" style="padding-bottom: 27px;"><a href="#"><img src="http://gusekacreations.com/eml/encontact/images/twitter.jpg" alt="Mockup"></a></td>
                                    <td align="center" style="padding-bottom: 27px;"><a href="#"><img src="http://gusekacreations.com/eml/encontact/images/instagram.jpg" alt="Mockup"></a></td>
                                    <td align="center" style="padding-bottom: 27px;"><a href="#"><img src="http://gusekacreations.com/eml/encontact/images/googleplus.jpg" alt="Mockup"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#333" class="row_content" style="font-size:16px; color: #4c4c4e; text-align:center; font-family:helvetica, arial, sans-serif; padding:20px 0;">
                        <p style="color:#fff;font-weight:600;font-size:16px;">www.yourdomain.com</p>
                    </td>
                </tr>


                </tbody>
            </table>

        </td>
    </tr>
  </tbody>

</table>
</body></html>
