<%- include('header'); %>

    <div class="wrapcontent">
        <div class="wrapdtbl">
            <div class="cell">
                <div class="inner innerlist rowtop">
                    <p>Hello, <strong><%= userlogin %></strong>  
                    </p>
                </div>
                
                <div class="inner innerlist">

                    <h1 style="margin:0 0 25px;">404 Not found!!</h1>

                    <div class="button">
                        <a href="/dashboard">Dashboard</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

<%- include('footer'); %>
