<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="WebThemez">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/da-slider.css" />
    <!-- Owl Carousel Assets -->
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles2.css" />
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/46a51ceac3.js" crossorigin="anonymous"></script>
    <!-- <link href="font/css/font-awesome.min.css" rel="stylesheet"> -->
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top logo"><b>Frost Tower</b></a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="mainNav">
                        <li class="active"><a href="#home" class="scroll-link">Home</a></li>
                        <li><a href="#aboutUs" class="scroll-link">About Us</a></li>
                        <li><a href="#services" class="scroll-link">Services</a></li>
                        <li><a href="/contact" class="scroll-link">Contact Us</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </header>
    <!--/.header-->
    <div id="#top"></div>
    <section id="home">
        <div class="banner-container">
            <img src="images/frostbg.jpg" alt="banner" />
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>More Floors</h2>
                        <p>Catering to discerning clientele where enormous isn't big enough.</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Deliriously Decadent</h2>
                        <p></p>
                        <p>Slots, gambling, and the highest roof in the land.</p>
                        <div class="da-img"></div>
                    </div>
                    <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutUs" class="page-section darkBg pDark pdingBtm30">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>About Us</h2>
                <p>At Frost tower, we provide the ultimate experience for our guests. Our high-powered ice makers are the coldest permitted by law.</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h3><i class="fa fa-alien color"></i>&nbsp; What we do?</h3>
                    <!-- Paragraph -->
                    <p>Our guests are looking for an experience unlike other nearby castles. Without judgement. Or cheer.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- Heading -->
                    <h3><i class="fa fa-icicles color"></i>&nbsp;Why choose us?</h3>
                    <!-- Paragraph -->
                    <p>An experience that can't be found anywhere else. Our troll staff are ready to serve your needs.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- Heading -->
                    <h3><i class="fa fa-mitten color"></i>&nbsp;Where are we?</h3>
                    <!-- Paragraph -->
                    <p>It's kind of hard to miss us. We have more floor than any stupid castle ever cloud.</p>
                </div>
            </div>
        </div>
        <!--/.container-->
    </section>

    <section id="services" class="page-section">
        <div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>Services</h2>
                <p>As a 4-coal resort, we offer our guests the finest services and amenities.</p>
            </div>
            <div class="row">
                <!-- item -->
                <div class="col-md-4 text-center">
                    <i class="fa fa-ice-cream fa-2x circle"></i>
                    <h3>Catering</h3>
                    <p>Our troll staff offers the finest catering services of cold meal options. (No refunds for stray hairs in dishes.)</p>
                </div>
                <!-- end: -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <i class="fa fa-ice-skate fa-2x circle"></i>
                    <h3>Event Space</h3>
                    <p>Choose from any of our luxurious event spaces, outfitted with the latest in Wi-Fi thermostat technology.</p>
                </div>
                <!-- end:-->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <i class="fa fa-store fa-2x circle"></i>
                    <h3>Shopping</h3>
                    <p>Our hosts can guide your guests through the casino, ending up in the gift shop every time.</p>
                </div>
                <!-- end:-->
            </div>
        </div>
        <!--/.container-->

    <a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

    <!--[if lte IE 8]><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><![endif]-->
    <script src="js/modernizr-latest.js"></script>
    <script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="js/jquery.nav.js" type="text/javascript"></script>
    <script src="js/jquery.cslider.js" type="text/javascript"></script>
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/owl-carousel/owl.carousel.js"></script>
</body>
</html>
